:root {
  /* CSS HEX */
  --celadon-blue: #0081a7ff;
  --maximum-blue-green: #00afb9ff;
  --light-yellow: #fdfcdcff;
  --peach-puff: #fed9b7ff;
  --bittersweet: #f07167ff;
}

* {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  box-sizing: border-box;
}

/* Flex properties for navbar with links*/

.nav-container {
  display: flex;
  background-color: var(--bittersweet);
  justify-content: center;
}

.nav-links-container {
  display: flex;
  flex-direction: row;
}

.nav-link-item {
  margin: 30px;
}

.nav-link {
  color: black;
  font-size: larger;
  font-weight: bolder;
  text-decoration: none;
}

a:hover {
  color: peachpuff;
}

body {
  background-color: var(--celadon-blue);
  text-align: left;
}

/* Portrait image container*/

.portrait {
  object-position:center;
  margin-top: 27px;
  padding: 30px, 0;
  border: black 1px solid;
}

.picture {
  border-radius: 50%;
  object-fit: contain;
  width: 260px;
  border: black 1px solid;
}

.bio {
  text-align: center;
  border: 1px solid black;
  border: black 1px solid;
}

.headings h1,
h2 {
  color: var(--celadon-blue);
  text-align: left;
}



.avatar {
border: solid 1px black
padding=30px;
object-fit: contain;

}

.avatar-image {
  max-width: 100%;
  max-height: 100%;
  display: block; /* remove extra space below image */
}
border: solid 1px black
border-radius: 50%;
}

.main {
  margin-top: 2%;
  border:2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:40px;
}

.card {
  flex: 1 0 0;
  padding: 10px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: var(--light-yellow);
  object-fit: contain;
}

.card header {
  padding: 20px;
  color: black;
  font-size: 20px;
}
  
}

.card img {
  width: 400px;
}








/*MEDIA QUERIES */

/*tablets*/
@media screen and (max-width: 768px) {
}

/*tablets*/

@media screen and (max-width: 480px) {
}
