:root {
  /* CSS HEX */
  --celadon-blue: #0081a7ff;
  --maximum-blue-green: #00afb9ff;
  --light-yellow: #fdfcdcff;
  --peach-puff: #fed9b7ff;
  --bittersweet: #f07167ff;
}

* {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--celadon-blue);
  text-align: left;
}

/* Flex properties for navbar with links*/

.nav-container {
  display: flex;
  background-color: var(--bittersweet);
  justify-content: center;
}

.nav-links-container {
  display: flex;
  flex-direction: row;
}

.nav-link-item {
  margin: 50px;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

/* Portrait image container*/
.portrait {
  text-align: center;
  padding: 30px;
}

.picture {
  border-radius: 50%;
  object-fit: contain;
  width: 260px;
}

.headings h1,
h2 {
  color: var(--celadon-blue);
  text-align: left;
}

.project-card1 {
  border: 1px solid black;
}

.image-card1 {
  height: 500px;
}
.project1-info {
  border: 1px solid black;
}
